# Common
PUID=1000
PGID=1000
TZ=Asia/Yekaterinburg

# Paths inside the LXC container
# If you mount storage from the Proxmox host into the LXC, point these to that mount.
DOWNLOADS_PATH=./data/downloads
MOVIES_PATH=./data/media/movies
TV_PATH=./data/media/tv

# Published ports
PRISMARR_PORT=7070
JELLYFIN_PORT=8096
JELLYSEERR_PORT=5055
RADARR_PORT=7878
SONARR_PORT=8989
PROWLARR_PORT=9696
QBIT_WEBUI_PORT=8080
QBIT_TORRENT_PORT=6881

# Prismarr
TRUSTED_PROXIES=127.0.0.1,REMOTE_ADDR
